.css-9iwzto{
  background-color: #06ac98;
  &:hover{
    background: #12bda9;
}
&:visited{
    background:#06ac98;
}
}
.css-h2okw{
 height: 40rem;
}

.css-1uzr0i {
  background-color: #12bda9;
  color: white;
  width: 25%;
  height: 16%;
  font-size: 6vmin;
  border: 3px solid black;
}

.css-1lqzgzw{
  padding: 4%;
}
